@page "/Experimental"
@using ExpenseTracker.Server.Components
@using System.Linq
@using Blazorise.Charts

<h3>Experimental Page</h3>

GenericDropDown :
<div class="row m-1 p-1">
    <div class="col-md-4">
        <DK_GenericDropDown data="@expCat" nameID="Id" nameValue="Category" OnDropDownChange="@CategoryDropDown_Changed"></DK_GenericDropDown>
    </div>
</div>

<br />
<div class="container border border-primary">
    <div class="row border border-primary">
        <div class="col-9  border border-primary">DK</div>
        <div class="col  border border-primary">Rups</div>
        <div class="w-100 border border-primary"></div>
        <div class="col border border-primary">Jag</div>
        <div class="col border border-primary">Divs</div>
        <div class="w-100 border border-primary"></div>
        <div class="col border border-primary">poc</div>
    </div>
</div>

<button type="button" class="btn btn-tumblr"><span class="cib-tumblr btn-icon mr-2"></span> Tumblr</button>
<br>
<button class="btn btn-primary float-right search disabled" disabled><span class='fa-left fas fa-sync-alt spinning'></span>Searching...</button>
<br>

@*<ETDashBoard title="Expense Tracker Dash Board" />*@


@*<Input type="button" Clicked="@(async () => await HandleRedraw())">Redraw</input>*@
<input type="range" step="1"
       @bind-value="SliderValue"
       @bind-value:event="oninput" />
<p>Slider Value: <b>@SliderValue</b></p>

<div class="card" style="width: 24rem;">
    <div class="card-body m-0 p-0">
        <LineChart @ref="lineChart" TItem="double" />
    </div>
</div>
<a class="btn btn-outline-primary" @onclick="@(async () => await HandleRedraw())">Reload</a>

<div class="container border-0 border-primary">
    <div class="row border-0 border-primary">
        <div class="col border-0 border-primary">
            <InputFile class="btn btn-primary m-2" OnChange="HandleFileSelected" accept=".csv" />
            <button class="btn btn-outline-primary m-2 oi oi-timer" @onclick="UploadDataIntoPage">Upload File</button>
        </div>
        <div class="col border-0 border-primary">
            @if (_file != null)
            {
                <textarea class="form-control border-info text-sm-left" @bind=@_status placeholder="upload status" cols="3"></textarea>
                @*<div class="col bg-light rounded border border-success text-center">
                       <p>@_status</p>
                    </div>*@
            }
        </div>
    </div>
</div>

@code {

    //-------------GenericDropDown Code started---------------------//
    [Inject]
    private Data.Services.ICategoryRepository srvCategory { get; set; }
    private List<ExpenseTracker.Data.ExpenseCategory> expCat;
    private void CategoryDropDown_Changed(string id)
    {
        var catId = int.Parse(id);
        var catText = expCat.FirstOrDefault(s => s.Id == catId).Category;
        System.Diagnostics.Debug.WriteLine($"[{DateTime.Now}] ID: {id} Value: {catText}");
    }
    //-------------------------------------------------------------//

    int SliderValue = 0;
    IFileListEntry _file;
    string _status;
    void HandleFileSelected(IFileListEntry[] files)
    {
        _file = files.FirstOrDefault();
        _status = $"File:{_file.Name} has last modified date: {_file.LastModified.ToShortDateString()}\n" +
            $"Content type (not always supplied by the browser): {_file.Type}";

    }
    async Task UploadDataIntoPage()
    {
        string fileContent = string.Empty;
        string lineDate = string.Empty;
        var numLines = 0;



        if (_file != null)
        {
            using (var reader = new System.IO.StreamReader(_file.Data))
            {
                while ((lineDate = await reader.ReadLineAsync()) != null)
                {
                    numLines++;
                }
            }
            _status = $"Finished loading {_file.Size} bytes from {_file.Name} with total lines {numLines}";
        }


    }
    protected override async Task OnInitializedAsync()
    {
        expCat = (await srvCategory.GetCategoriesAsync(true)).ToList();
    }


    LineChart<double> lineChart;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await HandleRedraw();
        }
    }

    async Task HandleRedraw()
    {
        lineChart.Clear();

        lineChart.AddLabel(Labels);

        lineChart.AddDataSet(GetLineChartDataset());

        await lineChart.Update();
    }

    LineChartDataset<double> GetLineChartDataset()
    {
        return new LineChartDataset<double>
        {
            Label = "# of randoms",
            Data = RandomizeData(),
            BackgroundColor = backgroundColors,
            BorderColor = borderColors,
            Fill = true,
            PointRadius = 2,
            BorderDash = new List<int> { }
        };
    }

    string[] Labels = { "Red", "Blue", "Yellow", "Green", "Purple", "Orange" };
    List<string> backgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f), ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
    List<string> borderColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f), ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };

    List<double> RandomizeData()
    {
        var r = new Random(DateTime.Now.Millisecond);

        return new List<double> { r.Next(3, 50) * r.NextDouble(), r.Next(3, 50) * r.NextDouble(), r.Next(3, 50) * r.NextDouble(), r.Next(3, 50) * r.NextDouble(), r.Next(3, 50) * r.NextDouble(), r.Next(3, 50) * r.NextDouble() };
    }

}
